tensorflow
astunparse
expecttest
hypothesis
numpy
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions
sympy
filelock
networkx
jinja2
fsspec
aiocontextvars
aiohttp
aiosignal
amqp
aniso8601
asgiref
astor
async-timeout
atlassian-jwt
attrs
backoff
billiard
black
bleach
blessed
boto3
botocore
bpython
build
CacheControl
cachetools
cairocffi
CairoSVG
celery
certifi
cffi
chardet
charset-normalizer
cleo
click
coverage
crashtest
cryptography
cssselect2
curtsies
cwcwidth
defusedxml
dejawidth
diff-match-patch
distlib
Django
django-allauth
django-appconf
django-celery-beat
django-compressor
django-cors-headers
django-debug-toolbar
django-environ


scikit-learn==1.0.2
pandas==1.4.3


django-extensions
django-filter
django-health-check
django-import-export
django-mjml
django-octicons
django-otp
django-redis
django-scim2
django-ses
django-storages
django-timezone-field
djangosaml2
drawSvg
dulwich
elementpath
et-xmlfile
exceptiongroup
execnet
filelock
frozenlist
geoip2
gevent
google-api-core
google-api-python-client
google-auth
